.spinner {
  height: 100%;
  width: 100%;
  animation: rotate 60s infinite linear;
}

.img {
  object-fit: contain;
  -webkit-filter: drop-shadow(0 0 0 rgb(var(--black)));
  filter: drop-shadow(0 0 0 rgb(var(--black)));
  mix-blend-mode: multiply;
  animation: gradient-animation 2s infinite alternate;
}

@keyframes gradient-animation {
  0% {
    filter: drop-shadow(0 0 5px rgb(var(--white)));
  }
  100% {
    filter: drop-shadow(0 0 5px rgb(var(--primary-color)));
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
