.form {
  display: flex;
  flex-direction: column;
  gap: var(--size-scaling-24px);
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--size-scaling-24px);
}

.menuItem {
  display: flex;
  flex-direction: column;
  gap: var(--size-scaling-12px);
  padding: var(--size-scaling-24px) var(--size-scaling-12px);
  background-color: rgb(var(--gray-color-1));
  border-radius: var(--size-scaling-4px);
  box-shadow: 0 var(--size-scaling-2px) var(--size-scaling-8px)
    rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.menuItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 var(--size-scaling-4px) var(--size-scaling-12px)
    rgba(0, 0, 0, 0.3);
}

.quantityInput,
.customerInput {
  display: flex;
  flex-direction: column;
  gap: var(--size-scaling-12px);
}

.quantityInput {
  color: rgb(var(--primary-color));
}
