:root {
  --black: 17, 17, 17;
  --white: 255, 255, 255;
  --background-color: 227, 227, 227;
  --text-color: rgb(var(--black));
  --primary-color: 25, 76, 51;
  --primary-color-2: 58, 164, 111;
  --gray-color-1: 203, 203, 203;
  --gray-color-1-shimmer: 187, 187, 187;
  --gray-color-2: 45, 45, 45;
  --size-scaling-520px: 32.5rem;
  --size-scaling-400px: 25rem;
  --size-scaling-280px: 17.5rem;
  --size-scaling-240px: 15rem;
  --size-scaling-200px: 12.5rem;
  --size-scaling-192px: 12rem;
  --size-scaling-150px: 9.375rem;
  --size-scaling-148px: 9.25rem;
  --size-scaling-128px: 8rem;
  --size-scaling-120px: 7.5rem;
  --size-scaling-108px: 6.75rem;
  --size-scaling-100px: 6.25rem;
  --size-scaling-96px: 6rem;
  --size-scaling-92px: 5.75rem;
  --size-scaling-88px: 5.5rem;
  --size-scaling-84px: 5.25rem;
  --size-scaling-80px: 5rem;
  --size-scaling-76px: 4.75rem;
  --size-scaling-72px: 4.5rem;
  --size-scaling-64px: 4rem;
  --size-scaling-60px: 3.75rem;
  --size-scaling-56px: 3.5rem;
  --size-scaling-52px: 3.25rem;
  --size-scaling-50px: 3.125rem;
  --size-scaling-48px: 3rem;
  --size-scaling-44px: 2.75rem;
  --size-scaling-40px: 2.5rem;
  --size-scaling-36px: 2.25rem;
  --size-scaling-32px: 2rem;
  --size-scaling-28px: 1.75rem;
  --size-scaling-26px: 1.625rem;
  --size-scaling-24px: 1.5rem;
  --size-scaling-20px: 1.25rem;
  --size-scaling-18px: 1.125rem;
  --size-scaling-16px: 1rem;
  --size-scaling-12px: 0.75rem;
  --size-scaling-10px: 0.625rem;
  --size-scaling-8px: 0.5rem;
  --size-scaling-4px: 0.25rem;
  --size-scaling-2px: 0.125rem;
  --size-scaling-1px: 0.0625rem;
}

[data-theme="dark"] {
  --background-color: var(--black);
  --text-color: var(--white);
  --primary-color: 83, 194, 139;
  --primary-color-2: 25, 76, 51;
  --gray-color-1: 45, 45, 45;
  --gray-color-1-shimmer: 72, 72, 72;
  --gray-color-2: 203, 203, 203;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.theme {
  transition: 1s all ease;
}

body {
  background-color: rgb(var(--background-color));
  color: rgb(var(--text-color));
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: var(--size-scaling-12px);
  font-size: var(--size-scaling-16px);
  border: var(--size-scaling-2px) solid rgb(var(--gray-color-2));
  border-radius: var(--size-scaling-4px);
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: rgb(var(--primary-color));
  outline: none;
}

button,
input[type="submit"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
