.layout {
  display: flex;
  flex-direction: column;
  max-width: 1366px;
  min-height: calc(100vh - var(--size-scaling-50px));
  margin: 0 auto;
  padding: 0 var(--size-scaling-16px) var(--size-scaling-96px);
}

.layout h1 {
  margin-bottom: var(--size-scaling-48px);
  text-align: center;
  font-size: var(--size-scaling-48px);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-scaling-96px);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-scaling-48px);
}

.imgContainer {
  display: none;
}

.title {
  background: linear-gradient(
    to bottom,
    rgb(var(--primary-color-2)),
    rgb(var(--gray-color-2))
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: pre-line;
}

.description {
  font-size: var(--size-scaling-24px);
  font-weight: 300;
}

@media (--media-query-sm) {
  .layout {
    padding-left: var(--size-scaling-32px);
    padding-right: var(--size-scaling-32px);
  }
}

@media (--media-query-md) {
  .layout {
    padding-left: var(--size-scaling-40px);
    padding-right: var(--size-scaling-40px);
  }
}

@media (--media-query-lg) {
  .layout h1 {
    text-align: left;
    font-size: var(--size-scaling-64px);
  }
  .container {
    flex-direction: row;
  }
  .imgContainer {
    display: flex;
    height: var(--size-scaling-520px);
    width: 30%;
  }
  .item {
    align-items: flex-start;
  }
}
