.text {
  position: relative;
  background: transparent;
  z-index: 0;
  display: inherit;
  -webkit-text-fill-color: inherit;
  -webkit-line-clamp: inherit;
  -webkit-box-orient: inherit;
  text-shadow: inherit;
}

.text:before {
  position: absolute;
  content: attr(data-text);
  -webkit-text-stroke-width: var(--size-scaling-4px);
  -webkit-text-stroke-color: inherit;
  left: 0;
  z-index: -1;
  -webkit-line-clamp: inherit;
  -webkit-box-orient: inherit;
}
